.container:before,
.container:after {
    content: " ";
    display: table;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.align-items-center {
    align-items: center !important;
}

.flex-md-row {
    flex-direction: row !important;
}

.bg-294 {
    color: #fff;
    background: #002f6c;
}


.nav-padding {
    padding: 25px 0px 50px 0px;
}

.nav-logo {
    float: left;
    text-align: left;
}

.nav-text {
    float: right;
    text-align: right;
    color: #ffffff;
    font-size: 10pt;
    line-height: 1.4em;
    letter-spacing: .1em;
    font-weight: 400;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
}

.schedule-top-container .row {
    margin-left: 0px;
    margin-right: 0px;
}

.schedule-top-container .schedule-right {
    text-align: left;
    color: #666666;
}

.schedule-right {
    padding: 15px 0px 40px !important;
    float: right;
}

.col-md-push-8 {
    left: 66.6666666667%;
}

.shadow-box-white {
    padding: 20px;
    box-shadow: 0 0 0.6rem 0 rgb(0 0 0 / 5%), 0 0 0.6rem 0 rgb(0 0 0 / 13%);
}

.btn-primary:hover {
    border-color: #0a58ca;
}

.btn-primary {
    border-color: #0d6efd;
}

.btn-primary,
.CTA-button {
    margin: 20px 0px 10px !important;
    background: #4cc8eb !important;
    color: #002f6c !important;
    text-decoration: none !important;
}


.text-center {
    text-align: center !important;
}

.btn-primary:hover,
.CTA-button:hover {
    background: #002f6c !important;
    color: #fff !important;
}